**/.hdl_checker
**/.*.un~
**/.*.swo
**/__pycache__*
**/vivado**.jou
**/vivado**.log
**/vivado**.str
**/vivado**.debug
prototype-software/test*
prototype-software/*bin
prototype-project/ZyboQDB
prototype-project/ZyboQDBVitis
prototype-project/axi_dma_0_ex
prototype-project/dma_intr
prototype-project/fifo_generator_0_ex
prototype-project/axis_data_fifo_0_ex
prototype-project/*
radiogenic/radiogenic
.vscode
.vs
*root
*tar.gz
*bin
*ini
*csv
AutoDict*